---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import Greeting from "../components/Greeting";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);

const projects = (await getCollection("project")).sort(
  (a, b) => b.data.updatedDate.valueOf() - a.data.updatedDate.valueOf()
)

const last_projects = projects.slice(0, 3)
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <Greeting client:load messages={["Hej", "BunÄ", "Hola", "Hi", "Ciao"]} />
    <div class="text-5xl font-bold">I'm Patricio Sobrado</div>
    <div class="text-3xl py-3 font-bold">
      Software Engineer, Leader and Musician
    </div>
    <div class="py-2">
      <text class="text-lg">
        I'm a catalyst for change in intricate environments, fueled by my
        passion for inspiring people to surpass their limits. My journey spans
        programming, technical leadership in IT, music creation, and artist management.
        Beyond work, I'm a culinary explorer and founder of <a
        href="https://www.callerea.se"
        target="_blank">Calle Real from Sweden (with link)</a>, driven by a love for innovation. I'm excited to channel my
        diverse experiences into contributing to your team's dynamic vision. 
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/patriciosobrado" target="_blank">
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  {
    last_projects.map((project) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.heroImage}
          desc={project.data.description}
          url={"/project/" + project.slug}
          target="_self"
          badge={project.data.badge}
        />
        <div class="divider my-0"/>
      </>
    ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
